{% extends 'layout.html.twig' %}

{% block content %}

<h1 class="page-header">Quality Estimation </h1>
<ol class="breadcrumb">
    <li><a href="{{ path('QualityEstimation') }}">All Data</a></li>    
    {% if EstimationID is defined and EstimationID is not empty %}
    	<li class="active">Edit Details</li>
    {% else %}
    	<li class="active">Add Details</li>
    {% endif %}
    
</ol>
<form class="form-horizontal" role="form" id="frmAddEditRecord" method="post" action="{% if EstimationID is defined %} {{ path('EditMonthEstimationData', { ID : EstimationID, Month : Month } ) }} {% else %} {{ path('AddEstimationData') }} {% endif %}"> 

  <div class="form-group">
   <label class="control-label col-sm-2" for="month">Month :</label> 
    <div class="col-sm-2">  
	<input type="text" id="month" name="month" class="form-control monthPicker" value="{% if EstimationDetails is defined %}{{EstimationDetails[0]['MONTH']|trim}}{% endif %}" readonly="readonly" required />
  	</div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="ProjectName">Project :</label>  
	  <div class="col-sm-4">    
	      {% if EstimationID is defined and EstimationID is not empty %}
	      	{% set readonly = 'readonly' %}
	      	{% set autocomplete = '' %}      	
	      {% else %}
	      	{% set readonly = '' %}
	      	{% set autocomplete = 'autocomplete' %}
	      {% endif %}  
	       <input {{ readonly }} type="text" name="ProjectName" id="ProjectName" class="form-control {{ autocomplete }}" value="{% if EstimationDetails is defined %}{{EstimationDetails[0]['PROJECT_NAME']|trim}}{% endif %}" required>   
	  </div>
  </div>
  <div id="AutoPath" data-ajaxurl="{{ path('AddEstimationData') }}"></div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="EngagementDate">Engagement Date:</label>
    <div class="col-sm-2">
      <input readonly type="text" name="EngagementDate" class="form-control datepicker" id="EngagementDate" placeholder="Engagement Date" value="{% if EstimationDetails is defined %}{{ EstimationDetails[0]['ENGAGEMENT_DATE']|trim }}{% endif %}">
   	  <a href="#" class="clearEngagementDate">clear</a>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="Gate1EstimationDeliverydate">Gate1 Estimation Delivery date:</label>
    <div class="col-sm-2">
      <input readonly type="text" name="Gate1EstimationDeliverydate" class="form-control datepicker" id="Gate1EstimationDeliverydate" placeholder="Gate1 Estimation Delivery date" value="{% if EstimationDetails is defined %}{{ EstimationDetails[0]['GATE1_ESTIMATION_DELIVERY_DATE']|trim }}{% endif %}">
      <a href="#" class="clearGate1EstimationDeliverydate">clear</a>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="Gate1Estimation">Gate1 Estimation:</label>
    <div class="col-sm-3">       
    	<input type="number" name="Gate1Estimation" id="Gate1Estimation" placeholder="Gate1 Estimation" value="{% if EstimationDetails is defined %}{{ EstimationDetails[0]['GATE1_ESTIMATION']|trim }}{% endif %}" class="form-control">
    </div>
  </div>  		 
   <div class="form-group">
    <label class="control-label col-sm-2" for="Gate2Estimation">Gate2 Estimation:</label>
    <div class="col-sm-3">       
    	<input type="number" name="Gate2Estimation" id="Gate2Estimation" placeholder="Gate2 Estimation" value="{% if EstimationDetails is defined %}{{ EstimationDetails[0]['GATE2_ESTIMATION']|trim }}{% endif %}" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="FinalEstimation">Final Estimation:</label>
    <div class="col-sm-3">
      <input type="number" class="form-control" name="FinalEstimation" id="FinalEstimation" placeholder="Final Estimation" value="{% if EstimationDetails is defined %}{{ EstimationDetails[0]['FINAL_ESTIMATION']|trim }}{% endif %}">
    </div>
  </div>  
   <div class="form-group">
	   <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" name="submit" id="submit" class="btn btn-primary">Submit</button>
	      <button type="reset" name="reset" id="reset" class="btn btn-primary">Reset</button>
	   </div>
   </div>	 
  <div id="dialog" title="Result Action" class="modal-dialog"></div>
   <input type="hidden" name="EstimationID" value="{% if EstimationID is defined %}{{ EstimationID }}{% endif %}" >
   <input type="hidden" name="Month" value="{{ Month }}" >
</form>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/KPI/KPI_common.js') }}"></script>
	<script>
		QualityEstimationFunction();
	</script>
{% endblock %}