{% extends 'layout.html.twig' %}

{% block content %}

<h1 class="page-header">Intake Process</h1>
<ol class="breadcrumb">
    <li><a href="{{ path('IntakeProcess') }}">All Intake Process</a></li>    
    {% if IntakeID is defined and IntakeID is not empty %}
    	<li class="active">Edit Details</li>
    {% else %}
    	<li class="active">Add Details</li>
    {% endif %}
    
</ol>
	
<form class="form-horizontal" role="form" id="frmAddEditProcess" method="post" action="{% if IntakeID is defined %} {{ path('EditIntakeProcess', { IntakeID : IntakeID } ) }} {% else %} {{ path('AddIntakeProcess') }} {% endif %}"> 
   <div class="form-group">
    <label class="control-label col-sm-2" for="Programme">Programme :</label>
    <div class="col-sm-4">
    	<input type="text" name="Programme" id="Programme" placeholder="Programme" value="{% if ProcessDetails is defined %}{{ ProcessDetails[0]['PROGRAMME']|trim }}{% endif %}" class="form-control">       
    </div>
  </div>
   <div class="form-group">
    <label class="control-label col-sm-2" for="ProjectName">Project :</label>
    <div class="col-sm-4">    
      {% if IntakeID is defined and IntakeID is not empty %}
      	{% set readonly = 'readonly' %}
      	{% set autocomplete = '' %}      	
      {% else %}
      	{% set readonly = '' %}
      	{% set autocomplete = 'autocomplete' %}
      {% endif %}  
       <input {{ readonly }} type="text" name="ProjectName" id="ProjectName" class="form-control {{ autocomplete }}" value="{% if ProcessDetails is defined %}{{ProcessDetails[0]['PROJECT_NAME']|trim}}{% endif %}" required>   
    </div>
    <div id="AutoPath" data-ajaxurl="{{ path('AddIntakeProcess') }}"></div>
  </div>		 
   <div class="form-group">
    <label class="control-label col-sm-2" for="ProposalType">Proposal Type:</label>
    <div class="col-sm-3">       
    <select name="ProposalType" id="ProposalType" class="form-control" placeholder="ProposalType" required>
      <option value="">--Select--</option>
      <option value="ROM(budgetary)" {% if ProcessDetails is defined and ProcessDetails[0]['PROPOSAL_TYPE'] == 'ROM(budgetary)' %} selected {% endif %} >ROM(budgetary)</option>
      <option value="T&M" {% if ProcessDetails is defined and ProcessDetails[0]['PROPOSAL_TYPE'] == 'T&M' %} selected {% endif %}>T&M</option>
      <option value="Fixed" {% if ProcessDetails is defined and ProcessDetails[0]['PROPOSAL_TYPE'] == 'Fixed' %} selected {% endif %}>Fixed</option>
 </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="SolutionComponent">Solution Component:</label>
    <div class="col-sm-4">
      <input type="text" name="SolutionComponent" class="form-control" id="SolutionComponent" placeholder="Solution Component" value="{% if ProcessDetails is defined %}{{ ProcessDetails[0]['SOLUTION_COMPONENT']|trim }}{% endif %}" required>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="ProjProgMgr">Project/Programme Manager:</label>
    <div class="col-sm-3">
      <input type="text" name="ProjProgMgr" class="form-control" id="ProjProgMgr" placeholder="Project/Programme Manager" value="{% if ProcessDetails is defined %}{{ ProcessDetails[0]['PROJ_PROG_MGR']|trim }}{% endif %}">
    </div>
  </div>
   <div class="form-group">
    <label class="control-label col-sm-2" for="WpPoStatus">WP/PO Status:</label>
    <div class="col-sm-3">
      <input type="text" name="WpPoStatus" class="form-control" id="WpPoStatus" placeholder="WP/PO Status" value="{% if ProcessDetails is defined %}{{ ProcessDetails[0]['WP_PO_STATUS']|trim }}{% endif %}">
    </div>
  </div>  
   <div class="form-group">
    <label class="control-label col-sm-2" for="Scope">Status:</label>
    <div class="col-sm-2">
      <select name="Status" id="Status" class="form-control" placeholder="Status" required>
	      <option value="">--Select--</option>
	      <option value="Pending" {% if ProcessDetails is defined and ProcessDetails[0]['STATUS'] == 'Pending' %} selected {% endif %} >Pending</option>
	      <option value="Drafting" {% if ProcessDetails is defined and ProcessDetails[0]['STATUS'] == 'Drafting' %} selected {% endif %}>Drafting</option>
	      <option value="Submitted" {% if ProcessDetails is defined and ProcessDetails[0]['STATUS'] == 'Submitted' %} selected {% endif %}>Submitted</option>
	      <option value="Approved" {% if ProcessDetails is defined and ProcessDetails[0]['STATUS'] == 'Approved' %} selected {% endif %}>Approved</option>
	      <option value="Executed" {% if ProcessDetails is defined and ProcessDetails[0]['STATUS'] == 'Executed' %} selected {% endif %}>Executed</option>
	      <option value="Expired" {% if ProcessDetails is defined and ProcessDetails[0]['STATUS'] == 'Expired' %} selected {% endif %}>Expired</option>
	      <option value="ROM Submitted" {% if ProcessDetails is defined and ProcessDetails[0]['STATUS'] == 'ROM Submitted' %} selected {% endif %}>ROM Submitted</option>
      </select>
    </div>
  </div>  
  <div class="form-group">
    <label class="control-label col-sm-2" for="RequestDate">Request Date:</label>
    <div class="col-sm-2">
      <input readonly type="text" name="RequestDate" class="form-control datepicker" id="RequestDate" placeholder="Request Date" value="{% if ProcessDetails is defined %}{{ ProcessDetails[0]['REQUEST_DATE']|trim }}{% endif %}" required>
      <a href="#" class="clearRequestDate">clear</a>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="SubmissionDate">Submission Date:</label>
    <div class="col-sm-2">
      <input readonly type="text" name="SubmissionDate" class="form-control datepicker" id="SubmissionDate" placeholder="Submission Date" value="{% if ProcessDetails is defined %}{{ ProcessDetails[0]['SUBMISSION_DATE']|trim }}{% endif %}" required>
      <a href="#" class="clearSubmissionDate">clear</a>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="Value">Value(k):</label>
    <div class="col-sm-2">
      <input type="number" name="Value" class="form-control" id="Value" placeholder="Value" value="{% if ProcessDetails is defined %}{{ ProcessDetails[0]['VALUE']|trim }}{% endif %}" required>
    </div>
  </div>
 
   <div class="form-group">
	   <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" name="submit" id="submit" class="btn btn-primary">Submit</button>
	      <button type="reset" name="reset" id="reset" class="btn btn-primary">Reset</button>
	   </div>
   </div>	 
  <div id="dialog" title="Result Action" class="modal-dialog"></div>
   <input type="hidden" name="IntakeID" value="{% if IntakeID is defined %}{{ IntakeID }}{% endif %}" >
</form>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/KPI/KPI_common.js') }}"></script>
	<script>
		IntakeProcessFunction();
	</script>
{% endblock %}