{% extends 'layout.html.twig' %}
{% block content %}
<h1 class="page-header">Delivery Slippage</h1>

{% if status is defined %}
		<p class="bg-info">{{ status }}</p>
{% endif %}
<div>
	<form class="form-inline" role="form" id="frmSearch" method="Post" action="">
	  <div class="form-group">
	    <label for="Month">Month/Year : </label>	    
	    <select name="Month" id="Month" class="form-control">
	       	<option value="">--Select--</option>
	       	{% if postData.Month is defined %}
	       		{% set Month = postData.Month %}
	       	{% endif %}
	       		       	
	       	{% for row in monthYearArray %}
	       		<option value="{{ row }}" {% if Month is defined and Month == row %} selected {% endif %}>{{ row }}</option>
	       	{% endfor %}
		  </select>
	  </div>
	  <button type="submit" name="Search" valuw="1" class="btn btn-primary">Search</button> 
	  <button type="submit" name="ShowAll" value="1" class="btn btn-primary">Refresh</button>
	</form>
</div>
</br></br>
<div class="row col-md-8">		
	<table class="table table-bordered table-hover" id="dataTable">
		<thead>
			<tr class="bg_grey">					
				<th>No.</th>
				<th>Project Name</th>
				<th>Estimated Prod Live Date</th>
				<th>Actual Delivery Date</th>
				<th>Difference</th>
			</tr>
		</thead>
		<tbody>		
			{% for row in DeliverySlippages %}
				<tr>
				<td>{{ loop.index}}</td>
				<td>{{ row.getProjectName}}</td>
				<td><span class="estimatedProdLiveDate" id="estimatedProdLiveDate_{{ loop.index }}" data-type="date" data-pk="1" data-title="Select date" style="text-transform: uppercase">{{ row.getEstimatedProdLiveDate|upper}}</span></td>
				<td><span class="deliveryDate_" id="deliveryDate_{{ loop.index }}" data-type="date" data-pk="1" data-title="Select date" style="text-transform: uppercase">{{ row.getDeliveryDate|upper}}</span></td>
				<td><span class="DifferenceInDate_{{ loop.index }}">{{ row.getDifferenceInDate}}</span></td>
				<input type="hidden" id="ProjectIDHidden_{{ loop.index }}" value="{{ row.ProjectId }}">
				</tr>
				
	    	{% endfor %}
		</tbody>
	</table>			
</div>
<div id="dialog" title="Result Action" class="modal_dialog"></div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/KPI/Delivery_Slippage.js') }}"></script>
	<script>
		loadDataTable_Export('DeliverySlippages');					
	</script>
	{% endblock %}
