{% extends 'layout.html.twig' %}
{% block content %}
<ol class="breadcrumb">
 <div class="row col-sm-1">	</div>
    <li><h3><a href="">Delivery Slippage</a></h3></li>
</ol>

{% if status is defined %}
		<p class="bg-info">{{ status }}</p>
{% endif %}
<div>
<div class="row col-sm-1">	</div>
 <div class="row col-md-8">
	<form class="form-inline" role="form" id="frmSearch" method="Post" action="">
	 <div class="col-md-4">
	    <label for="Month">Month/Year : </label>	    
	    <select name="Month" id="Month" class="form-control">
	       	<option value="">--Select--</option>
	       	{% if postData.Month is defined %}
	       		{% set Month = postData.Month %}
	       	{% endif %}
	       		       	
	       	{% for row in monthYearArray %}
	       		<option value="{{ row }}" {% if Month is defined and Month == row %} selected {% endif %}>{{ row }}</option>
	       	{% endfor %}
		  </select>
	  </div>
	  <div class="col-md-8">
	  <button type="submit" name="Search" valuw="1" class="btn btn-primary">Search</button> 
	  <button type="submit" name="ShowAll" value="1" class="btn btn-primary">Refresh</button>
	  </div>
	</form>
</div>
<br><br><br><br>
<div class="row col-sm-1">	</div>
<div class="text-primary">(Default list shows results from current month. Pls make a search to find out other projects.)</div><br>
<div class="row col-sm-1">	</div>
<div class="row col-md-11">		
	<table class="table-condensed table-bordered table-hover" id="dataTable">
		<thead>
			<tr class="bg_grey">					
				<th>No.</th>
				<th>Project Name</th>
				<th>Estimated Prod Live Date</th>
				<th>Actual Delivery Date</th>
				<th>Difference</th>
			</tr>
		</thead>
		<tbody>		
			{% if DeliverySlippages|length > 0 %}
				{% for row in DeliverySlippages %}
					<tr>
					<td>{{ loop.index}}</td>
					<td>{{ row.getProjectName}}</td>
					<td><span class="estimatedProdLiveDate" id="estimatedProdLiveDate_{{ loop.index }}" data-type="date" data-pk="1" data-title="Select date" style="text-transform: uppercase">{{ row.getEstimatedProdLiveDate|upper}}</span></td>
					<td><span class="deliveryDate_" id="deliveryDate_{{ loop.index }}" data-type="date" data-pk="1" data-title="Select date" style="text-transform: uppercase">{{ row.getDeliveryDate|upper}}</span></td>
					<td><span class="DifferenceInDate_{{ loop.index }}">{{ row.getDifferenceInDate}}</span></td>
					<input type="hidden" id="ProjectIDHidden_{{ loop.index }}" value="{{ row.ProjectId }}">
					</tr>
					
		    	{% endfor %}
		    {% else %}
		    	<tr><td colspan="5">No data available !!!</td></tr>
		    {% endif %}
		</tbody>
	</table>			
</div>
<div id="dialog" title="Result Action" class="modal_dialog"></div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/KPI/Delivery_Slippage.js') }}"></script>
	<script>
		loadDataTable_Export('DeliverySlippages');					
	</script>
	{% endblock %}
