{% extends 'layout.html.twig' %}
{% block content %}

<h1 class="page-header">Quality of Estimation</h1> 
{#
<div class="row col-md-8">
	<form class="form-inline" role="form" id="frmMonthSearch" method="Post" action="">
    <div class="col-md-4">
     <label for="Month">Month/Year : </label>	    
	    <select name="Month" id="Month" class="form-control">
	       	<option value="">--Select--</option>
	       	{% if postData.Month is defined %}
	       		{% set Month = postData.Month %}
	       	{% else %}
	       		{% set Month = ("now"|date("F/y")| upper) %}
	       	{% endif %}
	       		       	
	       	{% for row in monthYearArray %}
	       		<option value="{{ row }}" {% if Month is defined and Month == row %} selected {% endif %}>{{ row }}</option>
	       	{% endfor %}
		 </select>
    </div>
    <div class="col-md-6">
      <button type="submit" name="Search" valuw="1" class="btn btn-primary">Search</button> 
	  <button type="submit" name="ShowAll" value="1" class="btn btn-primary">Refresh</button>
    </div>
    </form>
</div>
<br><br>
#}
<div class="col-md-8 pull-left"><a href="{{ path('AddEstimationData') }}"><strong>Add Data</strong></a></div></br>
<br>
<div class="col-md-14">		
	<table class="table-bordered compact-table" id="dataTable">
		<thead>
			<tr>					
				<th>No.</th>				
				<th>Projectname</th>
				<th>Engagement Date</th>
				<th>Gate1 Estimation</th>
				<th>Diff in Dates</th>
				<th>Gate1 Estimation</th>
				<th>Gate2 Estimation</th>
				<th>Final Estimation</th>
				<th>Gate1 Variance</th>
				<th>Gate2 Variance</th>				
			</tr>
		</thead>
		<tbody>
			{# <tr><td class="text-primary" colspan="8"><strong>{{ Month }}</strong></td></tr> #}
			{% if EstimationDetails|length > 0 %}
				{% for row in EstimationDetails %}
					<tr>
					<td>{{ loop.index }}</td>	
					<td><a title="Edit details" href="{{ path('EditEstimationData', { ID : row['ID'] } ) }}">{{ row['PROJECT_NAME'] }}</a></td>
					<td>{{ row['ENGAGEMENT_DATE'] }}</td>
					<td>{{ row['GATE1_ESTIMATION_DELIVERY_DATE'] }}</td>
					<td>{{ row['DIFF_DATES'] }}</td>
					<td>{{ row['GATE1_ESTIMATION'] }}</td>
					<td>{{ row['GATE2_ESTIMATION'] }}</td>
					<td>{{ row['FINAL_ESTIMATION'] }}</td>
					<td>{% if row['GATE1_VARIANCE'] is not empty and row['GATE1_VARIANCE'] != 0 %} {{ row['GATE1_VARIANCE'] }}% {% else %} {% endif %}</td>
					<td>{{ row['GATE2_VARIANCE'] }}</td>
					</tr>
		    	{% endfor %}
		    {% else %}
		    	<tr><td class="text-primary div-center" colspan="8">No data available !!!</td></tr>
		    {% endif %}
		</tbody>
	</table>			
</div>
<div id="dialog" title="Choose Action" class="modal_dialog"></div>

{% endblock %}

{% block documentready %}
	<script>			
		$.fn.editable.defaults.mode = 'popup';
	</script>	
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/KPI/KPI_common.js') }}"></script>		
	<script>		
		loadDataTable_Export('QualityofEstimation');
		QualityofEstimationFunction();						
	</script>
{% endblock %}