{% extends 'layout.html.twig' %}
{% block content %}
 <ol class="breadcrumb">
 <div class="row col-sm-1">	</div>
    <li><h3><a href="">Production Test Accounts</a></h3></li>
</ol>


{% if msg is defined and msg is not empty %}
	<div class="bg-info">{{ msg }}</div>
{% endif %}

<div class="row col-sm-1"></div>
<div class="col-md-8 pull-left"><a href="{{ path('ProdTestAccounts') }}"><strong>Add Production Test Accounts</strong></a></div></br></br>
<div class="row col-sm-1">	</div>
<div class="row col-md-11">		
	<table class="table-condensed table-bordered table-hover" id="dataTable">
		<thead>
			<tr class="bg_grey">					
				<th>No.</th>
				<th>Items</th>
				<th>Total No of Accounts</th>
				<th>Consolidated No of Accounts</th>
				<th>Complaince Percentage</th>
			</tr>
		</thead>
		<tbody>
			{% for row in ProdTestAccountsEntitys %}			
				<tr>
				<td>{{ loop.index}}</td>				
				<td><a href="{{ path('EditProdTestAccounts', { rowId : row.getMonth() } ) }}">Production Test Account - {{ row.getMonth() }}</a></td>	
				<td>{{ row.getTotalAccounts()}}</a></td>
				<td>{{ row.getConsolidatedTotal()}}</a></td>					
				<td>{% if row.getProdTestAccounts() is not empty %}{{ row.getProdTestAccounts()}}%{% endif %}</td>
				</tr>
	    	{% endfor %}
		</tbody>
	</table>			
</div>
<div id="dialog" title="Result Action" class="modal_dialog"></div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}		
	<script>
		loadDataTable_Export('ProdTestAccountsEntitys');						
	</script>
{% endblock %}