{% extends 'layout.html.twig' %}

{% block content %}

	<header>
		<div class="jumbotron">
			<div class="row">
				<div class="col-md-3">
					<img src="{{ asset('images/TCSRound.png') }}" style="height: 100px; width: 120px;" />
				</div>
				<div class="col-md-9">
					<h2>KPI Dashboard</h2>
				</div>
			</div>
		</div>
	</header>	
			
	{{ include('login.html.twig') }}	
	<input type="hidden" id="referrer" value="{% if para['referrer'] is defined %}{{ para['referrer'] }}{% endif %}">
	
	{% if para['referrer'] is defined and para['referrer'] is not empty %}
		{% set posturl = path(para['referrer']) %}		
	{% else %}
		{% set posturl = '' %}
	{% endif %}
	
	<div id="AfterLoginPath" post-url="{{ posturl }}"></div>
		
{% endblock %}

{% block documentready %}
	<script>
		$("#frmLogin").validate();
	</script>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/Common/Login_Common.js') }}"></script>
	<script>	
		$.validator.setDefaults({
			submitHandler: function() {
				checkUserLogin();
			}
		});	
	</script>
{% endblock %}
