{% extends 'layout.html.twig' %}

{% block content %}

	<header>
		<div class="jumbotron">
			<div class="row">
				<div class="col-md-3">
					<img src="{{ asset('images/TCSRound.png') }}" style="height: 100px; width: 120px;" />
				</div>
				<div class="col-md-9">
					<h2>KPI Dashboard</h2>
				</div>
			</div>
		</div>
	</header>		
	{{ include('login.html.twig') }}
		
	<div id="AfterLoginPath" post-url="{{ path('Home') }}"></div>
		
{% endblock %}

{% block documentready %}
	<script>
		$("#frmLogin").validate();
	</script>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/Common/Login_Common.js') }}"></script>
	<script>	
		$.validator.setDefaults({
			submitHandler: function() {
				checkUserLogin();
			}
		});	
	</script>
{% endblock %}
