{% set sessionUID = app.session.get('UserID') %}
{% set username = app.session.get('UserName') %}	
{% set sessionUserRole = app.session.get('UserRole') %}	
{% set sessionUserModuleIDAccess = app.session.get('UserModuleIDAccess') %}

{# DEFINE CONSTANT IDs FOR MODULES (THEY ARE ALSO DEFINED IN DB) #}

{% set DASHBOARD = 1 %}
{% set DATA_INPUTS = 2 %}
{% set USER_MANAGEMENT = 3 %}
{% set USER_ACCESS_MANAGEMENT = 14 %}	
{% set ADMIN = 15 %}

{# === #}


{% block navbar %}
 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
    {# {{ sessionUserRole }}=={{ sessionUserModuleIDAccess }} #}
        <div class="navbar-header">            
            <a class="navbar-brand" href="{{ path('Homepage') }}">KPI Dashboard</a>
        </div>          
        {% if sessionUID is defined and sessionUID is not empty %}
	        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	            <ul class="nav navbar-nav navbar-right">	              
					<li class="dropdown">
	                	<a>Welcome {{ username }} !!</a>
	                </li>
	                
	                <li class="dropdown">
	                    <a href="{{ path('Home') }}" class="dropdown-toggle">Home</a>
	                </li>	                                             
	                <li class="dropdown">
	                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dashboard <b class="caret"></b></a>
	                    <ul class="dropdown-menu">
	                    		                    	
	                    	{% if DASHBOARD in sessionUserModuleIDAccess %}	                    	
	                        <li>
	                            <a href="{{ path('Dashboard') }}">Dashboard</a>
	                        </li>
	                        {% endif %}
	                        
	                        {% if DATA_INPUTS in sessionUserModuleIDAccess %}
	                        <li>
	                            <a href="{{ path('KPIList') }}">Data Inputs</a>
	                        </li>
	                        {% endif %}
	                        
	                        <li>
	                            <a href="{{ asset('templates/KPI Dashboard 1.1.docx') }}">About Dashboard</a>
	                        </li>	                        	                                               
	                    </ul>
	                </li>        
	                
	                {% if ADMIN in sessionUserModuleIDAccess %}
		                <li class="dropdown">
		                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
		                    <ul class="dropdown-menu">
		                    {% if USER_MANAGEMENT in sessionUserModuleIDAccess %}
		                        <li>
		                            <a href="{{ path('Users') }}">User Management</a>
		                        </li>   
		                    {% endif %}
							{% if USER_ACCESS_MANAGEMENT in sessionUserModuleIDAccess %}	                     
		                         <li>
		                            <a href="{{ path('UserAccess') }}">User Access Management</a>
		                        </li>
		                    {% endif %}                          
		                    </ul>
		                </li>    
	                {% endif %}
	                
	                {% if sessionUID is defined and sessionUID is not empty %}
	                	<li class="dropdown">
	                		<a href="{{ path('Logout') }}">Logout</a>
	                	</li>
	                {% endif %}                      
	            </ul>
	        </div>
	     {% endif %}       
    </div>
</nav>
{% endblock %}
