{% extends 'layout.html.twig' %}

{% block content %}

{% set sessionUID = app.session.get('UserID') %}
{% set username = app.session.get('UserName') %}	
{% set sessionUserRole = app.session.get('UserRole') %}	


	

<h1 class="page-header">User Details</h1>
 <ol class="breadcrumb">
    <li><a href="">Admin</a></li>
    <li><a href="{{ path('Users') }}">Users</a></li>
    {% if UserID is defined %}
    	<li class="active">Edit User</li>
    {% else %}
    	<li class="active">Add User</li>
    {% endif %}
</ol>
{# {{ sessionUserRole }}=={{ DASHBOARD_ID }} #}

<form class="form-horizontal" role="form" id="frmEditUser" method="post" action="{% if UserID is defined %} {{ path('EditUserPost') }} {% else %} {{ path('AddUserPost') }} {% endif %}">
  <div class="form-group">
    <label class="control-label col-sm-2" for="Email">Username(Email) :</label>
    <div class="col-sm-6">
       <input type="email" name="Email" id="Email" class="form-control" value="{% if UserDetails is defined %} {{ UserDetails.getEmail()}} {% endif %}" placeholder="Email ID" required autofocus>
    </div>
  </div>	 
   <div class="form-group">
    <label class="control-label col-sm-2" for="Password">Password:</label>
    <div class="col-sm-6">
       <input type="password" name="Password" id="Password" class="form-control" placeholder="Password" required autofocus {% if UserID is defined %} readonly {% endif %}>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="FirstName">First Name:</label>
    <div class="col-sm-4">
      <input type="text" name="FirstName" class="form-control" id="FirstName" value="{% if UserDetails is defined %} {{ UserDetails.getFirstName()}} {% endif %}" placeholder="First Name" value="" required>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="lastname">Last Name:</label>
    <div class="col-sm-4">
      <input type="text" name="LastName" class="form-control" id="LastName" value="{% if UserDetails is defined %} {{ UserDetails.getLastName()}} {% endif %}" placeholder="Last Name" value="" required>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="RoleID">Role:</label>
    <div class="col-sm-2">
      <select name="RoleID" id="RoleID" class="form-control" placeholder="User Role" required>
	      <option value="">--Select Role--</option>
	      <option value="1" {% if UserDetails is defined and UserDetails.getUserRoleID() == 1 %} selected {% endif %}>Admin</option>
	      <option value="2" {% if UserDetails is defined and UserDetails.getUserRoleID() == 2 %} selected {% endif %}>Manager</option>  
	      <option value="3" {% if UserDetails is defined and UserDetails.getUserRoleID() == 3 %} selected {% endif %}>Delivery Manager</option>
	      <option value="4" {% if UserDetails is defined and UserDetails.getUserRoleID() == 4 %} selected {% endif %}>PMO</option>
	      <option value="5" {% if UserDetails is defined and UserDetails.getUserRoleID() == 5 %} selected {% endif %}>Manager - Production Test Accounts</option>
     	  <option value="6" {% if UserDetails is defined and UserDetails.getUserRoleID() == 6 %} selected {% endif %}>Stakeholder</option>
      </select>
    </div>    
  </div>
   <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" name="createuser" id="createuser" class="btn btn-primary">Submit</button>
	      <button type="reset" name="createuser" id="createuser" class="btn btn-primary">Reset</button>
	    </div>
	  </div>	 
  <div id="dialog" title="Result Action" class="modal-dialog"></div>
  <input type="hidden" name="UserID" value="{% if UserDetails is defined %} {{ UserDetails.getUserID() }} {% endif %}" >
</form>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/Admin/Admin_common.js') }}"></script>
	<script>
	
	
	 	 
	</script>
{% endblock %}