{% extends 'layout.html.twig' %}
{% block content %}

<h1 class="page-header">User Details</h1>
 <ol class="breadcrumb">
    <li><a href="">Admin</a></li>
    <li class="active">Users</li>
</ol>

<div class="col-md-16">		
	<table class="table table-bordered table-hover" id="dataTable">
		<thead>
			<tr>					
				<th>No.</th>
				<th>Username</th>
				<th>Email</th>
				<th>Role</th>			
			</tr>
		</thead>
		<tbody>
			{% for row in UserDetails %}
				<tr>
				<td>{{ loop.index}}</td>				
				<td>{{ row.FIRSTNAME()}} {{ row.LASTNAME()}}</a></td>				
				<td>{{ row.getIP()}}</td>				
				<td>{{ row.getOwner()}}</td>				
				<td>{{ row.getOS()}}</td>				
				<td>{{ row.getVMHostName()}}</td>				
				<td>{{ row.getVMIP()}}</td>				
				<td>{{ row.getVMOS()}}</td>				
				<td>{{ row.getVMAllocatedTo()}}</td>				
				<td>{{ row.getComments()}}</td>
				{# <input type="hidden" id="COMMENTSold_{{ loop.index }}" value="{{ row.getComments()}}"> #}
				</tr>
	    	{% endfor %}
		</tbody>
	</table>			
</div>
<div id="dialog" title="Result Action" class="modal_dialog"></div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/Admin/Admin_common.js') }}"></script>
	<script>
		loadDataTable_Export('UserDetails');						
	</script>
{% endblock %}