{% extends 'layout.html.twig' %}

{% block content %}

<h1 class="page-header">User Details</h1>
<ol class="breadcrumb">
    <li><a href="">Admin</a></li>
    <li class="active">Users</li>  
</ol>

{% if status is defined %}
		<p class="bg-info">{{ status }}</p>
{% endif %}


<div class="col-md-8"><a href="{{ path('AddUser') }}"><strong>Add User</strong></a></div></br></br>
<div class="col-md-8">		
	<table class="table-bordered table-condensed table-hover" id="dataTable">
		<thead>
			<tr class="bg_grey">					
				<th>No.</th>
				<th>Username</th>
				<th>Email</th>
				<th>Role</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>		
			{% for row in UserDetails %}
				<tr>
				<td>{{ loop.index}}</td>				
				<td><a href="{{ path('EditUser', { UserID : row.getUserID() }, true) }}" title="Edit User">{{ row.getFirstName()}} {{ row.getLastName()}}</a></td>				
				<td>{{ row.getEmail()}}</td>				
				<td>{{ row.getUserRole()}}</td>	
				<td contenteditable="true" id="User_{{ loop.index }}" class="{% if row.getUserActive == '1' %} success {% else %} info {% endif %}">{% if row.getUserActive == '1' %} Active {% else %} InActive {% endif %}</td>
				<input type="hidden" id="User_{{ loop.index }}" value="{{ row.getUserID() }}">							
				</tr>
	    	{% endfor %}
		</tbody>
	</table>			
</div>
<div id="dialog" title="Result Action" class="modal_dialog"></div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/Admin/Admin_common.js') }}"></script>
	<script>
		loadDataTable_Export('UserDetails');
		UsersOnStatusChange();						
	</script>
{% endblock %}