{% extends 'layout.html.twig' %}
{% block content %}
 <ol class="breadcrumb">
 <div class="row col-sm-1">	</div>
    <li><h3><a href="">View Projects</a></h3></li>
</ol>

{% if msg is defined and msg is not empty %}
	<div class="bg-info">{{ msg }}</div>
{% endif %}
 <div class="row col-sm-1">	</div>
<div class="row col-md-8">
<form class="form-inline" role="form" id="frmSearch" method="Post" action="">
	 <div class="col-md-4">
	   {% if postData.Month is defined %}
	    {% set Month = postData.Month %}	  
	  {% elseif Month is not defined %}
	  	{% set Month = '' %}
	  {% else %}
	  	{% set Month = Month %}
	  {% endif %}	 	       	     	
	    <label for="Month">Month/Year : </label>
	    <select name="Month" id="Month" class="form-control">
	       	<option value="">--Select--</option>
	     
	       	{% for row in monthYearArray %}
	       		<option value="{{ row }}" {% if Month is defined and Month == row %} selected {% endif %}>{{ row }}</option>
	       	{% endfor %}
		  </select>
	</div>
	<div class="col-md-8">	    
	  <button type="submit" name="Search" valuw="1" class="btn btn-primary">Search</button> 
	  <button type="submit" name="ShowAll" value="1" class="btn btn-primary">Refresh</button>
	  </div>
	</form>
</div>
<br><br>
<div class="row col-sm-1"></div>
<div class="col-md-8 pull-left"><a href="{{ path('AddProject') }}"><strong>Add Project</strong></a></div></br>	
</br>
<div class="row col-sm-1">	</div>
<div class="text-primary">(Default list shows results from last 2 months. Pls make a search to find out other projects.)</div><br>
<div class="row col-sm-1">	</div>
<div class="row col-md-11">		
	<table class="table-condensed table-bordered table-hover" id="dataTable">
		<thead>
			<tr class="bg_grey">					
				<th>No.</th>
				<th>Projectname</th>
				<th>QC Projectname</th>
				<th>Domain</th>
				<th>Scope</th>
				<th>POC</th>
				<th>Estimated Prod Live Date</th>	
				<th>Reusability(%)</th>		
				<th>ST Automation</th>
				<th>UAT Applicable</th>
			</tr>
		</thead>
		<tbody>		
		{# {{ dump(ProjectDetails) }} #}
			{% for row in ProjectDetails %}
				<tr>
				<td>{{ loop.index}}</td>				
				<td>
				{% if Month is defined and Month is not empty %}
					<a href="{{ path('EditProjectMonth', {ProjectID : row.getProjectID(), Month : Month } )}}">{{ row.getProjectName()}}</a>
				{% else %}
					<a href="{{ path('EditProject', {ProjectID : row.getProjectID() } )}}">{{ row.getProjectName()}}</a>
				{% endif %}
				</td>	
				<td>{{ row.getQCProjectName()}}</a></td>
				<td>{{ row.getDomain()}}</a></td>
				<td>{{ row.getScope()}}</a></td>
				<td>{{ row.getPOC()}}</td>
				
				{% if "now"|date('Y-m-d') > row.GetEstimatedProdLiveDate()|date('Y-m-d') %}
    				{% set text = "bg-danger" %}
    			{% else %}
    				{% set text = "bg-success" %}    				
				{% endif %}
							
				<td class={{ text }}>{{ row.GetEstimatedProdLiveDate()}}</td>				
				<td>{% if row.getReusability() is not empty %}{{ row.getReusability()}}%{% endif %}</td>				
				<td>{% if row.getSTAutomation() is defined and row.getSTAutomation() is not null %}{{ row.getSTAutomation() }}%{% endif %}</td>
				<td>{{ row.getUatApplicable}}</td>
				</tr>
	    	{% endfor %}
		</tbody>
	</table>			
</div>
<div class="row col-sm-4">	</div>
<div id="dialog" title="Result Action" class="modal_dialog"></div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}		
	<script>
		loadDataTable_Export('ProjectDetails');						
	</script>
{% endblock %}