{% extends 'layout.html.twig' %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Monthly Report</h1>
        <ol class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li class="active">Monthly Report</li>
        </ol>
    </div>
</div>

<div class="row">
	<form class="form-inline" role="form" id="frmSearch" method="Post" action="">
	 <div class="form-group">
	    <label for="KPI">KPI : </label>
	      <select name="KPI" id="KPI" class="form-control">
	       	<option value="">--Select--</option>
	       	{% for row in SLAs %}
	       		<option value="{{ row.getKPIName() }}" {% if postData.KPI is defined and postData.KPI == row.getKPIName() %} selected {% endif %}>{{ row.getKPIName() }}</option>
	       	{% endfor %}
		  </select>
	  </div> 
	  <div class="form-group">
	    <label for="Project">Project : </label>
	    <select name="Project" id="Project" class="form-control">
		       	<option value="">--Select--</option>
		       	{% for row in ProjectNames %}
		       		<option value="{{ row.getProjectID() }}" {% if postData.Project is defined and postData.Project == row.getProjectID() %} selected {% endif %}>{{ row.getProjectName() }}</option>
		       	{% endfor %}
		</select>
	  </div>
	  <div class="form-group">
	    <label for="Month">Month/Year : </label>	    
	    <select name="Month" id="Month" class="form-control">
	       	<option value="">--Select--</option>
	       	{% for row in monthYearArray %}
	       		<option value="{{ row }}" {% if postData.Month is defined and postData.Month == row %} selected {% endif %}>{{ row }}</option>
	       	{% endfor %}
		  </select>
	   {# <input type="text" name="Month" id="Month" class="form-control" value="{% if postData.Month is defined %} {{ postData.Month }} {% endif %}"> #}
	  </div>
	  <button type="button" name="Search" valuw="1" class="btn btn-primary">Search</button> 
	  <button type="button" name="ShowAll" value="1" class="btn btn-primary">Show All</button>
	</form>
</div>
</br><div class="text-primary">(Default list shows projects from current and next month. Pls make a search to find out other projects.)</div>
</br>
<div class="row">
	<div class="col-sm-4">
		<table id="dataTable" class="table table-bordered table-hover table-sm">
			<thead class="thead-inverse">
				<tr>
					<th class="bg_grey"></th>
					<th class="bg_grey">KPI</th>
					<th class="bg_grey">Target</th>
					<th class="bg_grey">Actual</th>					
				</tr>
			</thead>
			<tbody>
			{# {% for KPI, SLA in SLAs %} #}
			{% for row in SLAs %}
				<tr {% if postData.KPI is defined and postData.KPI == row.getKPIName() %} class="strong" {% endif %} >
					<td><input type="radio" name="KPISelect" id="KPISelect" value=""></td>
					<td>{{ row.getKPIName() }}</td>
					<td>{{ row.getOperator() }}{{ row.getSLAValue() }}</td>
					{# {{ KPITotals[loop.index-1]~row.getOperator()~row.getSLAValue() }} #}
					{% if KPITotals is defined %}
						{# {% if KPITotals[loop.index-1]~row.getOperator()~row.getSLAValue() == true %} #}
						{% if KPITotals[loop.index-1] <= row.getSLAValue() %}
							<td class="bg-success">{{ KPITotals[loop.index-1] }}%</td>						
						{% else %}
							<td class="bg-danger">{{ KPITotals[loop.index-1] }}%</td>
						{% endif %}
					{% endif %}					
				</tr>
			{% endfor %}		
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-md-5 div-round-border"><p class="text-primary">Monthly Details</p>
		<div id="monthly_kpi_result"></div>
	</div>
	<div class="col-md-1"></div>
	<div class="col-sm-5 div-round-border"><p class="text-primary">Target v/s Actual</p>
		<div id="percentage_kpi_result">sas</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}	
	<script src="{{ asset('js/Dashboard/Dashboard_common.js') }}"></script>	
	<script>
		FormGeneralActions();
	</script>
{% endblock %}

{% block documentready %}	
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script>
		$(document).ready(function() {
			init();	
		});		
	</script>	
{% endblock %}