<div class="text-primary pull-left">This result shows data for <strong>{{ Month }}</strong>.</div><br>
<div class="text-primary"><strong>KPI Definition</strong> - {{ KPIData['SLA_DESC'] }}</div>
<div class="text-primary">Target for this KPI <strong>( {{ KPIData['OPERATOR'] }}{{ KPIData['SLA_VALUE'] }}% )</strong></div><br>
<div class="row col-md-8">		
	<table class="table-bordered table-condensed" id="dataTable">
		<thead>
			<tr>					
				<th>No.</th>
				<th>Project Name</th>
				<th>Reusable Test Cases</th>
				<th>Total Test Cases in SIT</th>
				<th>Reusability(%)</th>
				<th>RAG</th>
				<th>Cause</th>
				<th>Action</th>				
			</tr>
		</thead>
		<tbody>		
		{% set KPIResults = '' %}
	    	{% if KPIResults|length > 0 %}
				{% for month, resultArr in KPIResults %}					
					{% if resultArr|length > 0 %}
						{% for row in resultArr %}
							<tr>							
								<td>{{ loop.index }}</td>	
								<td>{{ row['PROJECTNAME'] }}</td>
								<td>{{ row['REUSABLE_TESTCASES'] }}</td>
								<td>{{ row['TOTAL_TESTCASES'] }}</td>
								<td>{% if row['REUSABILITY'] is not empty %}{{ row['REUSABILITY'] }}%{% endif %}</td>
								
								<td>
								{% if row['RAG'] is defined and row['RAG'] == 'green' %}
									<img src="{{ asset("images/green_RAG.png") }}">
								{% elseif row['RAG'] is defined and row['RAG'] == 'red' %}
									<img src="{{ asset("images/red_RAG.png") }}">
								{% else %}
									<img src="{{ asset("images/na_RAG.png") }}">
								{% endif %}
								</td>
								<td></td>
								<td></td>
								
								{#								
								<td><span class="cause" title="Click to enter Cause" column="CAUSE" style="cursor:pointer" data-type="textarea" id="cause_{{ loop.index }}">{{ row['CAUSE'] }}</span></td>
								<td><span class="action" title="Click to enter action" column="ACTION" style="cursor:pointer" data-type="textarea" id="action_{{ loop.index }}">{{ row['ACTION'] }}</span></td>
								#}
							</tr>
							<input type="hidden" name="ProjectIDHidden" id="ProjectIDHidden_{{ loop.index }}" value="{{ row['PROJECTID'] }}">
						{% endfor %}						
					{% else %}
						<tr><td class="text-primary" style="align-center" colspan="8">No data available !!!</td></tr>
					{% endif %}
		    	{% endfor %}
		    {% else %}
		    	<tr><td class="text-primary div-center" colspan="8">No data available !!!</td></tr>
		    {% endif %} 
		    
		</tbody>
	</table>			
</div>