<div class="text-primary pull-left">This result shows data for <strong>{{ Month }}</strong>.</div><br>
<div class="text-primary"><strong>KPI Definition</strong> - {{ KPIData['SLA_DESC'] }}</div>
<div class="text-primary">Target for this KPI <strong>( {{ KPIData['OPERATOR'] }}{{ KPIData['SLA_VALUE'] }}% )</strong></div><br>
<div class="row col-md-6">		
	<table class="table-bordered table-condensed" id="dataTable">
		<thead>
			<tr>					
				<th>No.</th>
				<th>Projectname</th>
				<th>P1 and P2 Defects+ 60 days</th>			
			</tr>
		</thead>
		<tbody>
			
			{% if KPIResults|length > 0 %}
				{% for month, resultArr in KPIResults %}
					<tr><td class="text-primary" colspan="8"><strong>{{ month }}</strong></td></tr>
					{% if resultArr|length > 0 %}
						{% for row in resultArr %}
							{% if row['RAG'] == 'N/A' %}
								{% set naClass = 'bg_grey' %}
							{% else %}
								{% set naClass = '' %}
							{% endif %}
							
							<tr class="{{ naClass }}">
							<td>{{ loop.index }}</td>	
							<td>{{ row['PROJECTNAME'] }}</td>
							<td>{% if row['P1_P2'] is not empty %}{{ row['P1_P2'] }} {% else %} 0 {% endif %}</td>
							</tr>
						{% endfor %}						
					{% else %}
						<tr><td class="text-primary div-center" colspan="8">N/A</td></tr>
					{% endif %}
		    	{% endfor %}
		    {% else %}
		    	<tr><td class="text-primary div-center" colspan="8">No data available !!!</td></tr>
		    {% endif %}
		</tbody>
	</table>			
</div>