<div class="text-primary"><strong>Target for this KPI ( {{ KPIData['OPERATOR'] }}{{ KPIData['SLA_VALUE'] }} )</strong>
</br>(<strong>Note : </strong>The details on final result obtained for each Project for this KPI can be viewed when mouse hover on KPI result.)
</div></br>

<div class="row col-sm-12">
	<table id="dataTable" class="table-bordered table-condensed">
		<thead>
			<tr>					
				<th>S.No.</th>
				<th>Projects</th>			
				<th>{{ KPI }}</th>
				<th>RAG</th>				
			</tr>					
		</thead>
		<tbody>									
			{% for row in KPIResults %}		
			{% set action = '' %}	
			{% set RAG = '' %}
				<tr>
					<td>{{ loop.index }}</td>						
					<td>{{ row['Project'] }}</td>					
					{% if row['Actual'] == 'N/A' %}
						{% set action = "" %}
						<td style="cursor:help" data-toggle="tooltip" data-html="true" title="{{ row['Formula']}}">{{ row['Actual'] }}</td>
					{% else %}
						{% if row['Operator'] == '<=' %}
							{% if row['Actual'] <= row['Target'] %}
								{% set RAG = 'green' %}		
								<td style="cursor:help" data-toggle="tooltip" data-html="true" title="{{ row['Formula']}}" class="bg-success">{{ row['Actual'] }}%</td>						
							{% else %}
								{% set action = 1 %}
								{% set RAG = 'red' %}
								<td style="cursor:help" data-toggle="tooltip" data-html="true" title="{{ row['Formula']}}" class="bg-danger">{{ row['Actual'] }}%</td>
							{% endif %}						
						{% elseif row['Operator'] == '>=' %}
							{% if row['Actual'] >= row['Target'] %}
								{% set RAG = 'green' %}		
								<td style="cursor:help" data-toggle="tooltip" data-html="true" title="{{ row['Formula']}}" class="bg-success">{{ row['Actual'] }}%</td>						
							{% else %}
								{% set action = 1 %}
								{% set RAG = 'red' %}
								<td style="cursor:help" data-toggle="tooltip" data-html="true" title="{{ row['Formula']}}" class="bg-danger">{{ row['Actual'] }}%</td>
							{% endif %}				
						{% endif %}
					{% endif %}
					
					<td align="center">
						{% if RAG is defined and RAG == 'green' %}
							<img src="{{ asset("images/green_RAG.png") }}">
						{% elseif RAG is defined and RAG == 'red' %}
							<img src="{{ asset("images/red_RAG.png") }}">
						{% else %}
							<img src="{{ asset("images/na_RAG.png") }}">
						{% endif %}
					</td>		
					{#
					{% if action is defined and action == 1 %}					
						<td class="col-md-5"><span class="cause" title="Click to enter Cause" column="cause" style="cursor:pointer" data-type="textarea" id="cause_{{ loop.index }}">{{ row['Cause'] }}</span>
						<td class="col-md-5"><span class="action" title="Click to enter Action" column="action" style="cursor:pointer" data-type="textarea" id="action_{{ loop.index }}">{{ row['Action'] }}</span>
					{% else %}						
						<td>N/A</td>						
						<td>N/A</td>			
					{% endif %}
					#}
					
					<input type="hidden" name="KPIHidden" id="KPIHidden" value="{{ KPIData['KPI_ID'] }}">
					<input type="hidden" name="ProjectIDHidden" id="ProjectIDHidden_{{ loop.index }}" value="{{ row['ProjectID'] }}">					
								
				</tr>
			{% endfor %}					
		<div id="dialog" class="modal_dialog" title="Action Status"></div> 							
		</tbody>
	</table>
</div>	
